.footer {
    right: 0;
    bottom: 0;
    position: fixed;
    /*noinspection CssInvalidFunction*/
    margin-top: 11.5rem;
    /*noinspection CssInvalidFunction*/
    border-top: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
}