.page {
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
}

.auth {
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    margin-left: 37%;
    padding-top: 10%;
}

.registration {
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    margin-left: 37%;
}

.text {
    font-size: 18px;
    margin: 10px 0;
    text-align: left;
    font-family: Arial;
}

.div {
    font-family: Arial;
    margin: 0;
    padding: 5px;
    text-align: center;
    display: block;
}

.selector {
    width: 41.5%;
    padding: 7px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input {
    width: 40%;
    padding: 7px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.passwordInput {
    width: 40%;
    padding: 7px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.button {
    width: 41.5%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin: 10px 0;
}

.button:hover {
    width: 41.5%;
    padding: 12px;
    background-color: #005eff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin: 10px 0;
}
.link {
    font-family: Arial;
    font-size: 14px;
    padding-left: 9%;
}