.auth{
    padding-top: 12%;
}
body{
    background-color: whitesmoke;
}
div{
    font-family: Arial;
    margin: 0;
    padding: 5px;
    text-align: center;
    display: block;
}

h3 {
    font-size: 18px;
    margin: 10px 0;
    text-align: left;
    padding-left: 30%;
}

input[type="text"] {
    width: 40%;
    padding: 7px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

select {
    width: 41%;
    padding: 7px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 41%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin: 10px 0;
}

button:hover {
    background-color: #0056b3;
}